# Define a series of nodes to use as a test bed

N = {{ TestbedSize }}

Vagrant.configure("2") do |config|

  (1..N).each do |i|

    config.vm.define "node-#{i}" do |node|

      # Ubuntu 16.04
      node.vm.box = "ubuntu/xenial64"

      # Enable an internet connection
      node.vm.network "private_network", ip: "{{ IPMask24 }}.#{i + {{ IPMask8Offset }} }"
      
      # Enable shared folder
      node.vm.synced_folder ".", "/vagrant", type: "rsync"

      config.vbguest.no_install = true

      # Copy in SSH key
      node.vm.provision "shell", inline: <<-SHELL
        cat /vagrant/server.pem.pub > /home/vagrant/.ssh/authorized_keys
      SHELL
    end

  end  

end